<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="CrossBrowserTesting">  
        <parameter name="URL" value="http://your-test-url.com"/> <!-- Define your URL here -->  
        <parameter name="BrowserType" value="chrome"/> <!-- or "firefox" -->  
    </test>  
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.testsigma.qa.test.HomePage"/>
      <class name="com.testsigma.qa.test.Login"/>
      <class name="com.testsigma.qa.test.SignUp"/>
      <class name="com.testsigma.qa.base.Hooks"/>
      <class name="com.testsigma.qa.test.CrossBrowserTesting"/>  
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
